<div class="pokemon-card-wrapper" [style.background]="_getTypeColour(pokemon.types[0].type.name)">
    <div class="pokemon-card">
      <img
        class="pokemon-card__image"
        [src]="pokemon.sprites.other['official-artwork'].front_default"
        alt=""
      />
      <h3 class="pokemon-card__name">{{ pokemon.name }}</h3>
      <div class="pokemon-card__size">
          <div class="pokemon-card__size__height-container">
            <p>Height: </p>
            <p>{{ pokemon.height }}</p>
          </div>
          <div class="pokemon-card__size__weight-container">
            <p>Weight: </p>
            <p>{{ pokemon.weight }}</p>
          </div>
      </div>
      <div class="pokemon-card__abilities">
        <b>Abilities</b>
        <div class="abilities-container">
          <p *ngFor="let ability of pokemon.abilities">
            {{ ability.ability.name }}
          </p>
        </div>
      </div>
      <div class="pokemon-card__types">
        <b>Types</b>
        <div class="types-container">
          <p
            *ngFor="let type of pokemon.types"
            class="types"
            [style.background]="_getTypeColour(type.type.name)"
          >
            {{ type.type.name | titlecase }}
          </p>
        </div>
      </div>
    </div>
</div>
