.navigation-button-container{
    display: flex;
    margin-bottom: 20px;

    :first-child{
        margin-right: 10px;
    }

    button{
        background-color: #fff;
        border: 1px solid #cc0000;
        color: #cc0000;
        padding: 10px 15px;
        border-radius: 100px;
        cursor: pointer;
        transition: 150ms;

        &:hover{
            background-color: #cc0000;
            color: #fff;
        }

        &:focus{
            outline: none;
        }
    }
}